.App {
  font-family: 'Playfair Display', serif;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;

}

.flex {
  display: flex;
}

a {
  color: #320513;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.loading-image {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 10% auto;
  width: 25%;
  height: 25%;
}


.wrapper {
  text-align: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 3px;
  padding: 0 12px;
}


// navigation

.navbar {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  
  .navbar__nav {
    margin-right: 12%;
  }
  img {
    width: 30%;
    margin-left: 5%;
    &:hover {
      cursor: pointer;
    }
  }
  a:not(.logo) {
    color: goldenrod;
    font-size: 30px;
    font-family: 'Harry Potter', sans-serif;
    margin: 0 3%;
    &:hover {      
      // border-bottom: 2px solid burlywood;
      transform: scale(1.2);
    }
    &:visited {
      color: goldenrod;
      border-bottom: 2px solid burlywood;
    }  
  }
}




// login page

.wrapper--login {
  text-align: center;
  color: goldenrod;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 30%;
  margin: 5% auto;
  fieldset {
    border: none;
    flex-direction: column;
    height: 200%;
  label {
    margin-top: 5%;
    font-family: 'Harry Potter', sans-serif;
    font-size: 250%;
    }
    input {
      font-family: 'Playfair Display', serif;
      height: 40px;
      font-size: 100%;
      background-color: #e2cea8;
      border: none;
      padding: 0 3%;
      border-radius: 5px;
    }
  }
}

// cards single / multi views

.card {
  position: relative;
  flex: 0 2 20%;
  border-radius: 1%;
  margin: 4%;
  flex-direction: column;
  background-color: #e2cea8;
  &:hover {
    transform: scale(1.1);
  }
}

.card-content {
  width: 60%;
  padding-top: 3%;
}


.wrapper--singleCard {
  color:#320513;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 2% auto;
  }

.singleCard {
  position: relative;
  flex-wrap: wrap;
  border-radius: 1%;
  width: 40%;
  height: auto;
  margin: 5% auto;
  background-color: #e2cea8;
  justify-content: space-between;
}

.card-image__photo {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}

.card-image__photo--single {
  width: 40%;
  height: auto;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}

.card-image__stamp--multi {
  margin-bottom: 8%;
  position: relative;
  width: 30%;
  align-self: center;
  margin-top: -10%;
}

.books {
  padding: 1%;
  
}


.searchForm {
  text-align: center;
  fieldset {
    margin: 1% 0 1% 0;
    border: none;
    flex-direction: column;
    height: 200%;
  label {
    color: goldenrod;
    margin-top: 5%;
    margin-right: 1%;
    font-family: 'Harry Potter', sans-serif;
    font-size: 250%;
    }
   input {
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    height: 40px;
    width: 15%;
    background-color: #e2cea8;
    border: none;
    border-radius: 5px;
    padding: 0 1%;
  }
  }
}

// Home

.wrapper--home {
  flex-direction: column;
  max-height: 100%;
  width: 70%;
  align-items: center;
  border-radius: 3px;
  margin-top: 1%;
}

.home__intro--title {
  color: goldenrod;
  font-family: 'Harry Potter', sans-serif;
  font-size: 70px;
}

.home__intro--subtitle {
  font-size: 30px;
  color: goldenrod;
  font-family: 'Playfair Display', serif;
  max-width: 68%;
  margin-top: -8%;

}


// buttons

.btnLogin {
  font-family: 'Harry Potter', sans-serif;
  font-size: 300%;
  border: none;
  background-color: transparent;
  margin: 10% auto;
  color: goldenrod;
  width: min-content;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

 }


.btnBack {
  font-family: 'Harry Potter', sans-serif;
  font-size: 300%;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  color: goldenrod;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.simplebar-scrollbar {
  background-color: goldenrod;
}