.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

a {
  color: #320513;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.loading-image {
  align-self: center;
  justify-self: center;
  width: 40%;
  height: 40%;
}

.books {
  padding: 0 1%;
}


.flex {
  display: flex;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  img {
    width: 30%;
    &:hover {
      cursor: pointer;
      // transform: scale(1.1);
    }
  }
  a:not(.logo) {
    color: goldenrod;
    font-size: 30px;
    font-family: 'Harry Potter', sans-serif;
    &:hover {
      border-bottom: 2px solid burlywood;
      transform: scale(1.1);
    }
    &:visited {
      color: goldenrod;
      border-bottom: 2px solid burlywood;
    }
  }
}

.navbar__nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 1%;
}

.wrapper {
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 3px;
  padding: 0 12px;
}

.wrapper--login {
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: auto;
  fieldset {
    border: none;
    flex-direction: column;
    width: min-content;
    label {
      font-family: 'Playfair Display', serif;
      ;
    }
    input {
      font-size: 100%;
      background-color: transparent;
    }
  }
  button {
    width: min-content;
  }
}

.wrapper--home {
  flex-direction: column;
  max-height: 100%;
  width: 50%;
  align-items: center;
  border-radius: 3px;
  margin-top: 1%;
}
 

.card {
  position: relative;
  flex: 0 2 26%;
  border-radius: 1%;
  margin: 3%;
  flex-direction: column;
  background-color: #e2cea8;
  &:hover {
    transform: scale(1.1);
  }
}

.card-content {
  position: relative;
  width: 60%;
  padding-top: 3%;
}


.singleCard {
  border-radius: 1%;
  width: 40%;
  height: auto;
  margin: 5%;
  background-color: #e2cea8;
  justify-content: space-between;
  position: absolute;

}

.card-image__photo {
  width: 40%;
  height: auto;
  object-fit: fill;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}

.card-image__photo--singleCard {
  width: 40%;
  height: auto;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}

.card-image__stamp {
  margin-bottom: 8%;
}

.card-image__stamp--card {
  position: relative;
  width: 30%;
  align-self: center;
  margin-top: -10%;
}

.card-image__stamp--singleCard {
  width: 15%;
  height: auto;
  position: relative;
  margin-top: 35%;
  margin-left: 30%;
}

.home__intro--title {
  color: goldenrod;
  font-family: 'Harry Potter', sans-serif;
  font-size: 70px;
}

.home__intro--subtitle {
  font-size: 30px;
  color: goldenrod;
  font-family: 'Playfair Display', serif;
  max-width: 68%;
  margin-top: -8%;

}

.btnLogin {
  border: none;
  background-color: none;

}
