.App {
  font-family: 'Playfair Display', serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  left: 0;
}

.flex {
  display: flex;
}

.loading-image {
  align-self: center;
  justify-self: center;
  margin: 50% auto;
  width: 80%;
  height: auto;
}

.button {
  font-family: 'Harry Potter', sans-serif;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  margin: 0 auto;
  color: goldenrod;
  box-shadow: 1px 2px black;
&:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.content-container {
  overflow: hidden;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
}

// Home
.home__intro--title {
  margin: 10% 2%;
  font-size: 250%;
  color: goldenrod;
  font-family: 'Harry Potter', sans-serif;
}
.home__intro--subtitle {
  margin: 5% 2%;
  font-size: 15px;
  color: goldenrod;
  font-family: 'Playfair Display', serif;
}
.broom-gif {
  width: 200px;
  align-self: center;
}


// Navigation
.header {
  height: 20%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0 20px;
  margin: 3% auto;
 }
 .header-logo {
  img {
    width: 250px;
    height: auto;
  }
 }
.header__nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  a:not(.logo) {
    color: goldenrod;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 1px 2px black;
    &:hover {      
      transform: scale(1.2);
    }
    &:visited {
      color: goldenrod;
      border-bottom: 2px solid burlywood;
    }  
  }
}

// Login
.content-container--login {
  form {
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
  fieldset {
    flex-direction: column;
    padding: 0;
    border: none;
    width: 100%;
  }
  label {
    color: goldenrod;
    margin-top: 10%;
    font-family: 'Harry Potter', sans-serif;
    font-size: 150%;
    }
   input {
    font-family: 'Playfair Display', serif;
    margin: 10% auto;
    font-size: 70%;
    height: 25px;
    width: 100%;
    background-color: #e2cea8;
    border: none;
    border-radius: 5px;
    padding: 0 1%;
   }
  }
  .button--login {
    font-size: 20px;
    padding: 5px;
   }
  }
    


// Cards
.card-content {
  width: 100%;
  flex-direction: column;
  h2, h3 {
    font-size: smaller;
  }
}
// multi (characters & books)
.content-container--characters {
  flex-direction: column;
  overflow-y: auto;
  justify-content: center;
  }
  .content-container--books {
    flex-direction: column;
    overflow-y: scroll;
    justify-content: center;
    }
.card {
  position: relative;
  flex: 0 0 30%;
  border-radius: 1%;
  margin: 15%;
  padding: 3%;
  flex-direction: column;
  background-color: #e2cea8;
  &:hover {
    transform: scale(1.1);
  }
}
.card-image__photo {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}
.card-image__stamp--multi {
  margin-bottom: 8%;
  position: relative;
  width: 30%;
  align-self: center;
  margin-top: -13%;
}
// single 
.card--single {
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1%;
  width: 50%;
  height: auto;
  padding: 3%;
  background-color: #e2cea8;
  margin-bottom: 2%;
}
.card-image__photo--single {
  width: 100%;
  height: auto;
  box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
}



// Characters
.searchForm {
  text-align: center;
  align-items: center;
  fieldset {
    align-items: center;
    border: none;
    flex-direction: column;
    height: 200%;
    width: 100%;
    margin-bottom: 5%;
  label {
    color: goldenrod;
    margin-top: 5%;
    font-family: 'Harry Potter', sans-serif;
    font-size: 120%;
    }
   input {
    font-family: 'Playfair Display', serif;
    font-size: 70%;
    height: 20px;
    width: 50%;
    background-color: #e2cea8;
    border: none;
    border-radius: 5px;
    padding: 0 1%;
  }
  }
}



@media only screen and (min-width: 600px) {
  .loading-image {
    margin: 35% auto;
    width: 50%;
  }

.home__intro--title {
  font-size: 700%;
  margin: 15% 4%;
}
.home__intro--subtitle {
  font-size: 30px;
  margin: 0 4%;

}
.broom-gif {
  width: 380px;
}
.header-logo {
  img {
    width: 350px;
    height: auto;
  }
}
.header {
  flex-direction: row;
  width: 100%;
  height: 10%;
  margin: 2% auto;
 }
.header__nav {
  width: 70%;
  justify-content: space-around;
  a:not(.logo) {
    font-size: 23px;
  }
}
.content-container--login {
  form { 
    width: 50%;
    margin: 20% auto;
  fieldset {
    width: 100%;
  }
  label {
    font-size: 180%;
    }
   input {
    height: 30px;
   }
  }
  }
  .content-container--characters {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    }
  .content-container--books {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
  }
  .card-content {
    width: 100%;
    flex-direction: column;  
  }
.card {
  flex: 0 0 40%;
  margin: 5%;
    height: min-content;
    border-radius: 1%;
    flex-direction: column;
    background-color: #e2cea8;
    justify-content: space-around;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card-image__stamp--multi {
    position: relative;
    width: 40%;
    align-self: center;
    margin-top: -21%;
  }
  .card--single{
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1%;
    text-align: center;
    width: 30%;
    height: auto;
    margin: 5% auto;
    padding: 3%;
    background-color: #e2cea8;
  }
  .card-image__photo {
    width: 230px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
  }
  .card-image__photo--single {
    width: 100%;
    height: auto;
  }
  .card--books {
    height: 550px;
  }
.searchForm {
    fieldset {
    label {
      font-size: 200%;
      }
     input {
      height: 30px;
      width: 50%;
      border: none;
    }
    }
  }
}

@media only screen and (min-width: 992px) {
  .loading-image {
    margin: 20% auto;
    width: 40%;
  }

.home__intro--title {
  font-size: 500%;
  margin: 10% 4%;
}
.home__intro--subtitle {
  font-size: 20px;
  margin: 0 4%;

}
.broom-gif {
  width: 400px;
}
.header-logo {
  img {
    width: 400px;
    height: auto;
  }
}
.header {
  flex-direction: row;
  width: 100%;
  height: 13%;
  margin: 1% auto;
 }
.header__nav {
  width: 70%;
  justify-content: space-around;
  a:not(.logo) {
    font-size: 25px;
  }
}
.content-container--login {
  form {
    width: 50%;
    margin: 1% auto;
  fieldset {
    width: 100%;
  }
  label {
    margin-top: 5%;
    font-size: 200%;
    }
   input {
    margin: 3% auto;
    font-size: 70%;
    height: 30px;
    width: 70%;  
   }
  }
  .button--login {
    font-size: 30px;
    padding: 5px;
    margin-top: 5%;
   }
  }
  .content-container--characters {
    height: min-content;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    }
  .content-container--books {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    padding: 5%;
  }
  .card-content {
    width: 100%;
    flex-direction: column;
  }
.card {
  flex: 0 0 20%;
  margin: 5%;
    height: max-content;
    border-radius: 1%;
    flex-direction: column;
    background-color: #e2cea8;
    justify-content: space-around;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card-image__stamp--multi {
    position: relative;
    width: 45%;
    align-self: center;
    margin-top: -35%;
  }
  .card--single{
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1%;
    text-align: center;
    width: 15%;
    height: auto;
    margin: 3% auto;
    padding: 2%;
    background-color: #e2cea8;
  }
  .card-image__photo {
    width: 230px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    box-shadow: 1px 4px 2px goldenrod(0, 0, 0, 0.2);
  }
  .card-image__photo--single {
    width: 100%;
    height: auto;
  }
  .card--books {
    margin-top: 5%;
    height: 750px;
    flex: 0 0 25%;
  }
  .button--back {
    font-size: 30px;
    padding: 5px;
    margin-top: 5%;
  }
.searchForm {
    fieldset {
    label {
      font-size: 200%;
      }
     input {
      height: 30px;
      width: 50%;
      border: none;
    }
    }
  }

}
