/* GLOBAL STYLES */

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #320513;
  background-size: contain;
  background-position: center;
}

body, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  line-height: 1.5;
}

a {
  font-family: 'Harry Potter', sans-serif;
  color: goldenrod;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  padding: 2em 0;
}

.hr {
  margin: 1em 0;
}

/* GLOBAL STYLES */
